@{
    ViewData["Title"] = "Home Page";
}
    <div id="carouselcontrol" class="carousel slide" data-ride="carousel">
         
        <a class="btn btn-lg animated-button victoria-one" asp-action="Menu" >Order Now</a> 
        
        <div class="carousel-inner">

            <div class="carousel-item active " data-interval="4000">
                <img src="~/image/home1.jpg" class="d-block w-100" alt="Supreme Pizza">
            </div>
            <div class="carousel-item" data-interval="4000">
                <img src="~/image/home2.jpg" class="d-block w-100" alt="Natural Pizza">

            </div>
            <div class="carousel-item" data-interval="4000">
                <img src="~/image/home3.jpg" class="d-block w-100" alt="Natural Pizza">

            </div>
            <div class="carousel-item" data-interval="4000">
                <img src="~/image/home4.jpg" class="d-block w-100" alt="Natural Pizza">

            </div>
        </div>
    </div>
