@model ChajdPizzaWebApp.ViewModels.CreateCustomViewModel
@{
    ViewData["Title"] = "Create Own";
}

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/MenuRadioButton.css">*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="~/js/stringPost.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<div class="toppingsTesting">
    <form method="GET">
        @await Html.PartialAsync("../Shared/SizeView.cshtml", Model.Sizes)
        <p style="font-size:36px; color:brown; text-align:center"><b><u> Please Select the toppings($1.50 per)</u></b></p>
        <div>

            @foreach (var item in Model.Toppings)
            {
                <label for="checkbox" class="form-control-label col-md-2"><b>@Html.DisplayFor(modelItem => item.Name) </b></label>
                @*<input type="checkbox" name="Toppings" checked data-toggle="toggle" value=@item.Name data-on="Yes @Html.DisplayFor(modelItem => item.Name)" data-off="No @Html.DisplayFor(modelItem => item.Name)" data-onstyle="success" data-offstyle="danger">*@
                <input type="checkbox" name="Toppings" checked data-toggle="toggle" value=@item.Name data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
            }

        </div>
        <div style=" text-align:right">
            <br />
            <button class=" btn-outline-warning" type="submit" onclick='myFunction()'>Continue</button>
        </div>

    </form>
</div>


