@model IEnumerable<ChajdPizzaWebApp.Models.Size>


<form asp-action="SizeView">
    <p style="font-size:36px; color:brown; text-align:center"><b><u> Please Select the size</u></b></p>
    @foreach (var item in Model)
    {
        <label class="container">
            @Html.DisplayFor(modelItem => item.BaseSize)
            $@Html.DisplayFor(modelItem => item.S_Price)
            <input type="radio" checked="checked" name="radio" asp-for="@item.BaseSize" value=@item.Id>
            <span class="checkmark"></span>
        </label>
    }
</form>

@*
        <p style="font-size:36px; color:brown; text-align:center"><b><u> Please Select the size</u></b></p>
        @foreach (var item in Model)
        {
            <label class="container">
                @Html.DisplayFor(modelItem => item.BaseSize)
                $@Html.DisplayFor(modelItem => item.S_Price)
                <input type="radio" checked="checked" name="radio" asp-for="@item.BaseSize" value=@item.Id>
                <span class="checkmark"></span>
            </label>
        }

    */


*@